interpreter/note.txt
interpreter/y.output
interpreter/main
interpreter/*.go
interpreter/y
.resources/
.vscode/
cli
cli.exe
main
main*
log.txt
__debug_bin
parser.tab.c
BisonExmple.txt
delme.sh
y.output
*.txt
.history
.env
y.go
lexer.nn.go
*.ocli