# Core Ignore
.vscode/
go.work
go.work.sum
*.code-workspace
config.toml
*log

# API Ignore
API/main
deploy/mdb/*
*.DS_Store
API/.env

# CLI Ignore
.idea/
cli
cli.exe
cli.mac
.history
*.ocli
log.txt
unitylog.txt

# APP Ignore
deploy/docker/*.env
deploy/docker/app-deploy