# Core Ignore
.vscode/
go.work
go.work.sum
*.code-workspace
*.toml
*log

# API Ignore
main
deploy/mdb/*
*.DS_Store
API/.env

# CLI Ignore
.idea/
cli
cli.exe
cli.mac
.history
*.ocli
log.txt
unitylog.txt
