# This workflow will build the golang project, create a Mongo database and test it

name: API Unit Tests

on:
  pull_request:
    branches: [ "main" ]
    paths:
    - API/**

jobs:

  api-unit-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./API

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.19

    - name: Create MongoDB Container
      run: cd ../deploy/docker && make test_api

    - name: Build
      run: make

    - name: Test
      run: go test -v ./...
